thesis-gnuplottex*
thesis.gnuploterrors
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.lof
thesis.log
thesis.lol
thesis.lot
thesis.out
thesis.fls
thesis.run.xml
thesis.toc
thesis.synctex.gz
thesis.acn
thesis.glo
thesis.ist
thesis.acr
thesis.fdb_latexmk
thesis.alg
thesis.glg
thesis.gls
results
*.log
*~
.DS_Store
